<div class="container">
  <form [formGroup]="registerForm" (ngSubmit)="register()" class="register-form" >
    <h2>Register</h2>
    <div class="error-message" *ngIf="inlineNotification.show">{{inlineNotification.message}}</div>

    <div class="form-group">
      <label for="firstName" class="form-control">First Name</label>
      <input type="text" formControlName="firstName" id="firstName" class="form-control">
      <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)">
        <div class="alert-message" *ngIf="firstName.hasError('required')">First Name is required</div>
      </div>
    </div>

    <div class="form-group">
      <label for="lastName" class="form-control">Last Name</label>
      <input type="text" formControlName="lastName" id="lastName" class="form-control">
      <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">
          <div class="alert-message" *ngIf="lastName.hasError('required')">Last Name is required</div>
      </div>
    </div>

    <div class="form-group">
      <label for="email" class="form-control">Email</label>
      <input type="email" formControlName="email" id="email" class="form-control">
      <div *ngIf="email.invalid && (email.dirty || email.touched)">
        <div class="alert-message" *ngIf="email.hasError('required')">Email is required</div>
        <div class="alert-message" *ngIf="email.hasError('email')">Invalid Email Address</div>
      </div>
    </div>

    <div class="form-group">
      <label for="username" class="form-control">Username</label>
      <input type="text" formControlName="username" id="username" class="form-control">
      <div *ngIf="username.invalid && (username.dirty || username.touched)">
        <div class="alert-message" *ngIf="username.hasError('required')">Username is required</div>
      </div>
    </div>

    <div class="form-group">
      <label for="password" class="form-control">Password</label>
      <input type="password" formControlName="password" id="password" class="form-control">
      <div *ngIf="password.invalid && (password.dirty || password.touched)">
        <div class="alert-message" *ngIf="password.hasError('required')">Password is required</div>
        <div class="alert-message" *ngIf="[password.hasError('minLength')]">Must be at least 5 characters</div>
      </div>
    </div>

    <div class="form-group">
      <button>Register</button>
    </div>

  </form>
</div>
