<div class="navbar">
  <a routerLink=""><h1>MovieApp</h1></a>

  <div class="nav-option">
    <a routerLink="">Home</a>
    <a routerLink="/add-movie" *ngIf="isLoggedIn()">Add Movie</a>
    <a routerLink="/show-movies">Show Movies</a>
  </div>

  <div class="nav-auth-control">
    <a routerLink="/login" *ngIf = "!isLoggedIn()">Login</a>
    <a routerLink="/register" *ngIf = "!isLoggedIn()">Register</a>

    <!-- for authenticated user only -->
    <span *ngIf="isLoggedIn()" class="authenticated-user">{{name}}</span>
    <a (click)="logout()" class="logout" *ngIf="isLoggedIn()">Logout</a>
  </div>

</div>
