.navbar{
  display: flex;
  background: var(--primary-color);
  justify-content: space-between;
  align-items: center;
  padding:.5rem 1rem;
}

.nav-option a{
  
  padding: 0 .5rem;
  
}

.nav-auth-control a {
   margin-right: 1rem;
}
.nav-option a:hover ,
.nav-auth-control a:hover{
  color: #ddd;
}

.nav-option a:focus,
.nav-auth-control a:focus{
  border-bottom: 4px solid black;
  color:blue;
  padding-bottom: .5rem;
}






