/* You can add global styles to this file, and also import other style files */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
}
:root{
  --primary-color: rgb(130, 21, 21);
  --primary-font: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
  background: var(--primary-color);
}

a{
  text-decoration: none;
  color: black;
}

.error-message{
  text-align: center;
  font-size: small;
  color: #f00;
}
.alert-message{
  color: yellow;
  font-size: .7rem;

}

